<div class="p-8">
  <div class="max-w-4xl mx-auto bg-background-500 p-6 rounded-lg shadow-xl">
    <h1 class="text-xl md:text-2xl font-bold mb-4">
      Tec. Universitaria en Programación Web <small>- Plan 2022</small>
    </h1>

    @for (yearPlan of studyPlan; track $index) {
      <h2
        class="select-none text-lg md:text-xl font-bold text-blue-700 my-4 text-center md:text-left">
        Año {{ yearPlan.year }} - Total de horas: {{ yearPlan.totalHours }}hs
      </h2>

      <div class="overflow-x-auto">
        <table
          class="table-auto w-full border border-collapse border-gray-400 text-xs md:text-sm">
          <thead class="bg-blue-100 select-none">
            <tr>
              <th class="border p-2">Rendida</th>
              <th class="border p-2">Código</th>
              <th class="border p-2">Asignatura</th>
              <th class="border p-2">Cuatrimestre</th>
              <th class="border p-2 w-24">
                Cursada<br /><small class="font-semibold text-2xs"
                  >(Para cursar)</small
                >
              </th>
              <th class="border p-2 w-24">
                Rendida<br /><small class="font-semibold text-2xs"
                  >(Para cursar)</small
                >
              </th>
              <th class="border p-2 w-24">
                Rendidas<br /><small class="font-semibold text-2xs"
                  >(Para rendir)</small
                >
              </th>
            </tr>
          </thead>
          <tbody>
            @for (subject of yearPlan.subjects; track $index) {
              <tr
                (mouseenter)="highlightSubject(subject.code)"
                (mouseleave)="resetHighlight()"
                [ngClass]="{
                  'bg-green-300': selectedSubjects.includes(subject.code),
                  'bg-yellow-200': highlightedToEnroll.includes(subject.code),
                  'bg-blue-200': highlightedToTakeExam.includes(subject.code),
                  'bg-indigo-200': highlightedCompleted.includes(subject.code),
                  'bg-gray-300':
                    hoveredSubject === subject.code &&
                    !selectedSubjects.includes(subject.code),
                }"
                class="cursor-pointer">
                <!-- Nuevo TD con 3 estados -->
                <td
                  class="border p-2 text-center cursor-pointer select-none"
                  (click)="toggleCheck(subject.code, 'rendida', $event)">
                  <span
                    [ngClass]="{
                      'text-gray-600':
                        getCheckState(subject.code, 'rendida') === 'unchecked',
                      'text-blue-600':
                        getCheckState(subject.code, 'rendida') === 'document',
                      'text-green-600':
                        getCheckState(subject.code, 'rendida') === 'checked',
                    }">
                    {{
                      getCheckState(subject.code, 'rendida') === 'checked'
                        ? '✅'
                        : getCheckState(subject.code, 'rendida') === 'document'
                          ? '📝'
                          : '❌'
                    }}
                  </span>
                </td>

                <td class="border p-2 text-center select-none">
                  {{ subject.code }}
                </td>
                <td class="border p-2">{{ subject.subject }}</td>
                <td class="border p-2 text-center select-none">
                  {{ subject.semester }}
                </td>

                <td
                  class="border p-2 text-center select-none"
                  (mouseenter)="
                    highlightToEnroll(
                      subject.prerequisites.toEnroll,
                      subject.code
                    )
                  "
                  (mouseleave)="resetHighlight()"
                  [ngClass]="{
                    'bg-green-300': areAllChecked(
                      subject.prerequisites.toEnroll
                    ),
                    'bg-gray-300':
                      hoveredSubject === subject.code &&
                      !areAllChecked(subject.prerequisites.toEnroll),
                  }">
                  {{
                    subject.prerequisites.toEnroll.length
                      ? subject.prerequisites.toEnroll.join(', ')
                      : '-'
                  }}
                </td>

                <td
                  class="border p-2 text-center select-none"
                  (mouseenter)="
                    highlightToTakeExam(
                      subject.prerequisites.toTakeExam,
                      subject.code
                    )
                  "
                  (mouseleave)="resetHighlight()"
                  [ngClass]="{
                    'bg-green-300': areAllChecked(
                      subject.prerequisites.toTakeExam
                    ),
                    'bg-gray-300':
                      hoveredSubject === subject.code &&
                      !areAllChecked(subject.prerequisites.toTakeExam),
                  }">
                  {{
                    subject.prerequisites.toTakeExam.length
                      ? subject.prerequisites.toTakeExam.join(', ')
                      : '-'
                  }}
                </td>

                <td
                  class="border p-2 text-center select-none"
                  (mouseenter)="
                    highlightCompleted(
                      subject.prerequisites.completed,
                      subject.code
                    )
                  "
                  (mouseleave)="resetHighlight()"
                  [ngClass]="{
                    'bg-green-300': areAllChecked(
                      subject.prerequisites.completed
                    ),
                    'bg-gray-300':
                      hoveredSubject === subject.code &&
                      !areAllChecked(subject.prerequisites.completed),
                  }">
                  {{
                    subject.prerequisites.completed.length
                      ? subject.prerequisites.completed.join(', ')
                      : '-'
                  }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</div>
